.header{
    &__formulario{
        margin: auto;
        width: 40%;
        

        #button-addon2{
            background: yellow;
        }
       
    }


    .testeww{
        text-align: center;
    }

    .oi{
        text-align: center;
    }

    .ola{
        text-align: center;
    }
    
}